rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // For this operational prototype, allow read/write for now
    // In production, enforce Auth Rules based on tenant ID.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
